<!-- 
<style>
  #backgroundUserfield {
    border: 0;
    height: 100px;
    opacity: 0.9;
    background-image: url(https://images.media-allrecipes.com/ar-images/profiles/covers/radishes-header.jpg );
    background-repeat: no-repeat;
    width: 100%;
  }
  .stPhotoUser{
    opacity: 0.9;
    border-radius: 50%;
    height: 80px;
    width: 80px;
   
    /* https://images.wallpaperscraft.ru/image/stvol_derevo_tekstura_119590_1280x720.jpg */
  }
.stText{
  color:white;
}
.stLi{
  position: relative;
  left: 1.6rem;
  
}
.StUls {
width: 900px;
}
.StLis {

width: 120px;
height: 10px;
margin-top: 5px;
margin-left: 15px;
display: inline-block;
}
.stInput{
  width: 100%;
}
.stButt{
  width: 80%;
}
  </style>
 <style type="text/css">
  body .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-state-active,
  body .ui-tabs.ui-tabs-bottom .ui-tabs-nav li.ui-state-active,
  body .ui-tabs.ui-tabs-left .ui-tabs-nav li.ui-state-active, 
  body .ui-tabs.ui-tabs-right .ui-tabs-nav li.ui-state-active{
      background: #ff8800;
  }

</style>
  <body>
    
  <div >
    <div class="ui-g">
        <div class="ui-g-12"  style="padding:0%;" >
          <section id="backgroundUserfield">
            <div class="stText">
                <div class="ui-g">
                    <div class="ui-g-4">
           <ul class="StUls" style="list-style-type: none;" >
           
             <li class=" StLis">
               <img  class="stPhotoUser" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/V_logo.png">
             </li>
            <li class=" StLis"><h4 class="stLi">UserName</h4></li>
            <li class=" StLis"><h4 class="stLi" >LastName</h4></li>
            <li style="color:white;">
                <p style="margin-left: 20%"><p-rating style=" color: white;" [(ngModel)]="val"></p-rating></p>
             </li>
          
           </ul>
          </div>
        
          </div>

          </div>
          </section>
          
          
       
    </div>
    
  
    
  
  </div>
  <div>
  
</div>
<p-tabMenu [model]="items1" [activeItem]="items1[3]" >

</p-tabMenu>




  </div>


<div style="text-align:center;">
 <h3>Edit your profile</h3>
</div>
<div class="ui-g">
  <div class="ui-g-1">
   Name:
  </div>
  <div class="ui-g-9">
      <span class="ui-float-label " >
          <input class="stInput" id="float-input" type="text" size="30" pInputText> 
          <label for="float-input">Username</label>
          
      </span>
    </div>
 <div class="ui-g-2">
      <p-message severity="error" text="Field is required"></p-message>
    </div>
 


</div>
<div class="ui-g">
    <div class="ui-g-1">
     LastName:
    </div>
    <div class="ui-g-9">
        <span class="ui-float-label " >
            <input class="stInput" id="float-input" type="text" size="30" pInputText> 
            <label for="float-input">LastName</label>
        </span>
    </div>
    <div class="ui-g-2">
        <p-message severity="error" text="Field is required"></p-message>
      </div>  
  </div>
  <div class="ui-g">
      <div class="ui-g-1">
      E-mail:
      </div>
      <div class="ui-g-9">
          <span class="ui-float-label " >
              <input class="stInput" id="float-input" type="email" size="30" pInputText> 
              <label for="float-input">E-mail</label>
          </span>
      </div>
      <div class="ui-g-2">
          <p-message severity="error" text="Field is required"></p-message>
        </div>  
    </div>

    <div class="ui-g">
        <div class="ui-g-1">
        NickName:
        </div>
        <div class="ui-g-9">
            <span class="ui-float-label " >
                <input class="stInput" id="float-input" type="email" size="30" pInputText> 
                <label for="float-input">NickName</label>
            </span>
        </div>
        <div class="ui-g-2">
            <p-message severity="error" text="Field is required"></p-message>
          </div>  
      </div>
      
      <div class="ui-g">
          <div class="ui-g-1">
         Ava-path:
          </div>
          <div class="ui-g-9">
          <div>
              <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>

      </div>
          </div>
          <div class="ui-g-2">
             
            </div>  
        </div>

        <div class="ui-g">
            <div class="ui-g-1">
           Country:
            </div>
            <div class="ui-g-9">
            
              
            </div>
            <div class="ui-g-2">
             
              </div>  
          </div>
  

 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
  
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
  </body> -->