
    
  <div class="container" >
    <div >
      <div class="row">
        <div class="col-sm-12">
          <section id="backgroundUserfield">
            <div class="stText">
              <div class="row">
                  <div class="col-sm-4">
         <ul class="StUls" style="list-style-type: none;" >
         
           <li class=" StLis">
             <img  class="stPhotoUser" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/V_logo.png">
           </li>
          <li class=" StLis"><h4 class="stLi">UserName:</h4></li>
          <li class=" StLis stLis2" ><h4 class="stLi" >LastName:</h4></li>
          <li style="color:white;">
            
           </li>
        
         </ul>
        </div>
              </div>
            </div>
          </section>
      
      </div>
  <div class="container" >
      <ul  class="nav nav-tabs text-primary" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-profile">User Profile</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" routerLink="/editprofile">Edit Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/myrecipes">My recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favourite-recipes">Favourite recipes</a>
        </li>
      </ul>
    </div>  
    </div>
    </div>
  </div>
<div class="container">
    <div class="text-primary" style="text-align:center;">
        <h3>Edit your profile</h3>
       </div>
       <div class="progress">
         <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
       </div>
    <div class="row" style="margin-top:5px;">
      <div class="col-sm-1"  >
        Name:
      </div>
      <div class="col-sm-9">
         
              <input type="text" class="form-control" placeholder="Name: " id="inputDefault">  
      </div>
      <div class="col-sm-2">
     
      </div>
    </div>
    <div class="row" style="margin-top:5px;">
      <div class="col-sm-1" >
       LastName:
      </div>
      <div class="col-sm-9">
         
              <input type="text" class="form-control" placeholder="LastName:" id="inputDefault">
            
      </div>
      <div class="col-sm-2">
     
      </div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-sm-1" >
        E-mail:
        </div>
        <div class="col-sm-9">
           
                <input type="email" class="form-control" placeholder="E-mail:" id="inputDefault">
              
        </div>
        <div class="col-sm-2">
       
        </div>
      </div>
      <div class="row" style="margin-top:5px;">
          <div class="col-sm-1" >
          NickName:
          </div>
          <div class="col-sm-9">
             
                  <input type="text" class="form-control" placeholder="NickName:" id="inputDefault">
                
          </div>
          <div class="col-sm-2">
         
          </div>
        </div>
        <div class="row" style="margin-top:5px;">
            <div class="col-sm-1" >
            Ava-path:
            </div>
            <div class="col-sm-9">
               
                <div class="form-group">
                  <div style="color:orangered; ">
                      <input type="file">
                  </div> 
                  </div>
                  
            </div>
            <div class="col-sm-2">
                <!-- <button type="button" class="btn btn-primary">Path</button> -->
            </div>
          </div>
          <div class="row" style="margin-top:5px;">
              <div class="col-sm-1" >
              Country:
              </div>
              <div class="col-sm-9">
                 
                  <select class="form-control" id="exampleSelect1">
                      <option>Bla</option>
                      <option>Bla</option>
                      <option>Bla</option>
                      <option>Bla</option>
                      <option>Bla</option>
                    </select>
                    
              </div>
              <div class="col-sm-2">
             
              </div>
            </div>
  </div>

<!-- <div class="row>
  <div class="col-sm-1">
   Name:
  </div>
  <div class="col-sm-9">
      <span class="ui-float-label " >
          <input class="stInput" id="float-input" type="text" size="30" pInputText> 
          <label for="float-input">Username</label>
          
      </span>
    </div>
 <div class="col-sm-2">
    
    </div>
 


</div>
<div class="row">
    <div class="col-sm-1">
     LastName:
    </div>
    <div class="col-sm-9">
        <span class="ui-float-label " >
            <input class="stInput" id="float-input" type="text" size="30" pInputText> 
            <label for="float-input">LastName</label>
        </span>
    </div>
    <div class="col-sm-2">
      
      </div>  
  </div>
  <div class="row">
      <div class="col-sm-1">
      E-mail:
      </div>
      <div class="col-sm-9">
          <span class="ui-float-label " >
              <input class="stInput" id="float-input" type="email" size="30" pInputText> 
              <label for="float-input">E-mail</label>
          </span>
      </div>
      <div class="col-sm-2">
          <span class="badge badge-danger">Field is required</span>
        </div>  
    </div>

    <div class="row">
        <div class="col-sm-1">
        NickName:
        </div>
        <div class="col-sm-9">
            <span class="ui-float-label " >
                <input class="stInput" id="float-input" type="email" size="30" pInputText> 
                <label for="float-input">NickName</label>
            </span>
        </div>
        <div class="col-sm-2">
         
          </div>  
      </div>
      
      <div class="row">
          <div class="col-sm-1">
         Ava-path:
          </div>
          <div class="col-sm-9">
          <div>
              

      </div>
          </div>
          <div class="col-sm-2">
             
            </div>  
        </div>

        <div class="row">
            <div class="col-sm-1">
           Country:
            </div>
            <div class="col-sm-9">
            
              
            </div>
            <div class="col-sm-2">
             
              </div>  
          </div> -->
  

 
 