/* You can add global styles to this file, and also import other style files */

 /* width */
body {
  /* background-image: url("https://7770003.ru/netcat_files/957_90905.jpg"); */
}

 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E95420;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(211, 119, 85);
}
