<form [formGroup]="UserEdit" onsubmit="UpdateUserData()">
  <div class="container">
      <input placeholder="First Name" formGroupName="FirstName" class="form-control" />
  
      <input placeholder="Last Name" formGroupName="LastName" class="form-control" />
    
      <input placeholder="Nickname" formGroupName="NickName" class="form-control" />

      <input placeholder="Password" type="password" formGroupName="Password" class="form-control">

      <input placeholder="Password Confirmation" type="password" id="PasswordConfirmation" class="form-control">

      <input placeholder="Eamil" type="email" formGroupName="Email" class="form-control info">
    
    <form class="form-inline" id="DateTimePicker">
       <div class="form-group">
         <div class="input-group">
           <input id="Age" class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
           <div class="input-group-append">
             <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
           </div>
         </div>
       </div>
     </form>

     <input id="FileInput" type="file" class="btn btn-primary">

     <input placeholder="Country" id="Typehead" id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>

     <input id="SubmitButton" class="btn btn-primary" type="submit">

   </div>
</form>