<form [formGroup]="UserEdit" (ngSubmit)="updateUserData(UserEdit.value)">
  <div class="container">
      <input placeholder="First Name" formControlName="FirstName" class="form-control" />
  
      <input placeholder="Last Name" formControlName="LastName" class="form-control" />
    
      <input placeholder="Nickname" formControlName="NickName" class="form-control" />

      <input placeholder="Password" type="password" formControlName="Password" class="form-control">

      <!-- <input placeholder="Password Confirmation" type="password" id="PasswordConfirmation" #PasswordConfirmation class="form-control"> -->

      <input placeholder="Email" type="email" formControlName="Email" class="form-control info">
    
    <!-- <form class="form-inline" id="DateTimePicker"></form>
       <div class="form-group">
         <div class="input-group">
           <input #Age id="Age" class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
           <div class="input-group-append">
             <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
           </div>
         </div>
       </div>
     </form> -->

     <!-- <input #FileInput id="FileInput" type="file" class="btn btn-primary"> -->

     <input placeholder="Country" formControlName="Country" id="Typehead" type="text" class="form-control"/>

     <button id="SubmitButton" class="btn btn-primary" type="submit" >Send</button>

   </div>
</form>

<!-- [(ngModel)]="model" [ngbTypeahead]="search" -->