

<div class="container-fluid" style="margin-top:2rem;">

  <div class="row">
   <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"  style="border-right-style:solid;border-color: #A6ABB3;border-width: 0.1rem;;">

     
     <h1 id="htop" style="text-align: center">{{recipe.topic}}</h1>
     

        <div >

    
          <app-recipe-galleria [Images]="recipe.gallery.photos"></app-recipe-galleria>
        </div>
     
     
     

    
     
      


   
        <!-- <app-recipe-ingradients  [Ingradients]="recipe.ingradients"></app-recipe-ingradients>  -->


     
       <app-recipe-directions [Directions]="recipe.cookingProcess"></app-recipe-directions> 

    

       <h2 >Date of publication:
              {{creationdate}}
       </h2>
      

     


       <h2 >Count views:
              {{recipe.viewsCounter}}
       </h2>
      
     
      
   </div>

   <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
    <h1>Hello world from chat</h1>
   </div> 

  </div>

 

 
</div> 