

<div class="container-fluid" style="margin-top:2rem;">

  <div class="row">
   <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"  style="border-right-style:solid;border-color: #A6ABB3;border-width: 0.1rem;;">

     
     <h1 id="htop" style="text-align: center">{{recipe?.topic}}</h1>


     <app-recipe-galleria [Images]='recipe?.gallery'></app-recipe-galleria>


     <div>
       <h2 >Description</h2>
       <p class="p-description">{{recipe?.description}}</p>
     </div>

     <!-- <div>
       <app-recipe-ingradients [Ingredients]='recipe'></app-recipe-ingradients>
     </div> -->
 
    
     <!-- <app-recipe-directions [Directions]='recipe?.cookingProcess'></app-recipe-directions>  -->
     

        <h2>
        Author: {{recipe?.userName}}  
       </h2>
  
       <h2>
         Country: {{recipe?.countryName}}
       </h2>

       <h2 >Date of publication:
              {{recipe?.creationDate | date}}
       </h2>
      

      

       <h2 >Count views:
              {{recipe?.viewsCounter}}
       </h2>
      
       
      
       <div>
        <h2>Rating:</h2>
        <app-rating [rating]="recipe?.rating" [itemId]='recipe?.id'  (OnClick)='onClick($event)'></app-rating>
    </div> 
      
    
   </div>

   <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
    <app-recipe-feedback [recipeId]="69"></app-recipe-feedback>
   </div> 

  </div>

 

 
</div> 