

<div class="container-fluid" style="margin-top:2rem;">

  <div class="row">
   <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12"  style="border-right-style:solid;border-color: #A6ABB3;border-width: 0.1rem;;">

     
     <h1 id="htop" style="text-align: center">{{recipe.topic}}</h1>

        <h2>
        Author: {{recipe?.user?.firstName}}  
       </h2>
  
       <h2>
         Country: {{recipe?.country?.name}}
       </h2>

       <h2 >Date of publication:
              {{creationdate}}
       </h2>
      

      

       <h2 >Count views:
              {{recipe?.viewsCounter}}
       </h2>
      
        recipe.rating 
      
      <div>
          <h2>Rating:</h2>
          <app-rating [rating]="recipe?.rating" [itemId]='recipe?.id'  (ratingClick)='ratingComponentClick($event)'></app-rating>
      </div> 
      
      
    

      
      
   </div>

   <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
    <h1>Hello world from chat</h1>
   </div> 

  </div>

 

 
</div> 