<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

  <div class="container" *ngFor="let recipe of allRecipes | async">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Topic:{{recipe.Topic}</h5>
        <p class="card-text">Description: {{recipe.Description}}</p>
        <p class="card-text">CookingProcess:{{recipe.CookingProcess}}</p>
 
        <!-- <a href="#" class="btn btn-primary" onClick="deleteRecipe()">Delete</a> -->
        <button class="btn btn-primary" (click)="deleteRecipe()">Delete</button>
      </div>
    </div>
  </div>
</body>
</html>