<div class="container">
  <div class="row">

      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body"  *ngFor="let r of recipes ">
          <div class="card" style="width: 18rem;" >
        <h5 class="card-title">Topic: {{r.topic}}</h5>
        <p class="card-text">Description: {{r.description}}</p>
        <p class="card-text">CookingProcess: {{r.cookingProcess}}</p>       
        <div class="card-footer text-muted" >
          <p>{{r.creationDate}}</p>
        </div>
        <button class="btn btn-primary" id="{{r.id}}" (click)="deleteRecipe($event,r)">Delete</button>
      </div>
    </div>
    </div>
  </div>
  
