<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <!--  *ngFor="let recipe of recipes | async"-->
  <div class="container" >
    <div class="card" style="width: 18rem;" >
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body" *ngFor="let r of recipes ">
        <h5 class="card-title">Topic:{{r.Topic}}</h5>
        <p class="card-text">Description: {{r.Description}}</p>
        <p class="card-text">CookingProcess:{{r.CookingProcess}}</p>
 
        <!-- <a href="#" class="btn btn-primary" onClick="deleteRecipe()">Delete</a> -->
        <button class="btn btn-primary" (click)="deleteRecipe(recipe.id)">Delete</button>
       
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</body>
</html>