
<style>
    #backgroundUserfield {
      border: 0;
      height: 100px;
      opacity: 1;
      background-image: url(https://images.wallpaperscraft.ru/image/stvol_derevo_tekstura_119590_1280x720.jpg);
      background-repeat: no-repeat;
      width: 100%;
    }
    .stPhotoUser{
      opacity: 0.7;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      
    }
  .stText{
    color:white;
  }
  .stLi{
    position: relative;
    left: 1.6rem;
    
  }
  .StUls {
  width: 900px;
}
.StLis {
  
width: 120px;
height: 10px;
margin-top: 5px;
margin-left: 15px;
display: inline-block;
}

    </style>
   
    <body>
      
    <div >
      <div class="ui-g">
          <div class="ui-g-12"  >
            <section id="backgroundUserfield">
              <div class="stText">
                  <div class="ui-g">
                      <div class="ui-g-4">
             <ul class="StUls" style="list-style-type: none;" >
             
               <li class=" StLis">
                 <img  class="stPhotoUser" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/V_logo.png">
               </li>
              <li class=" StLis"><h4 class="stLi">UserName</h4></li>
              <li class=" StLis"><h4 class="stLi" style="margin-left: 100px;">LastName</h4></li>
              <li style="color:white;">
                  <p style="margin-left: 20%"><p-rating style=" color: white;" [(ngModel)]="val"></p-rating></p>
               </li>
            
             </ul>
            </div>
            <!-- <div class="ui-g-4">
              <ul style="list-style-type: none;">
                <li>
                  <p >bfbfg</p>
                </li>
              </ul>
            </div>
            <div class="ui-g-4">
                <ul style="list-style-type: none;">
                    <li>
                    <p>dff</p>
                   </li>
                </ul>
            </div> -->
            </div>

            </div>
            </section>
            
              <!-- <div id="backgroundUserfield">
                
                  <span style="color:rgb(255, 230, 0); opacity: 0.9;" >UserName</span>
                  <span style="color:rgb(255, 230, 0); opacity: 0.9; margin-left: 50%" >LastName</span>
                
          </div> -->
         
      </div>
      
      <!-- <p-card>
          <p-header>
              Header content here
          </p-header>
          Body Content
          <p-footer>
              Footer content here
          </p-footer>
      </p-card> -->
      
    
    </div>
    <div>
    
</div>

    </div>
   
    <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
    </body>