
<div class="container divv">
  <div >
    <div class="row">
      <div class="col-sm-12">
        <section id="backgroundUserfield">
          <div class="stText">
            <div class="row">
                <div class="col-sm-4">
       <ul class="StUls" style="list-style-type: none;" >

         <li class=" StLis">
           <img  class="stPhotoUser" src="https://upload.wikimedia.org/wikipedia/commons/1/1a/V_logo.png">
         </li>
        <li class=" StLis"><h4 class="stLi">UserName: {{user.firstName}}</h4></li>
        <li class=" StLis"><h4 class="stLi" >LastName: {{user.lastName}}</h4></li>
        <li style="color:white;">

         </li>

       </ul>
      </div>
            </div>
          </div>
        </section>

    </div>
<div class="container">
    <ul class="nav nav-tabs" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-profile">User Profile</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" routerLink="/editprofile">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/myrecipes">My recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favourite-recipes">Favourite recipes</a>
      </li>
    </ul>
  </div>
  <div class="container ">
    <div class="text-primary" style="text-align:center;">
        <h3>It's your profile</h3>
      </div>
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <div class="row">

          <div class="col-sm-3">
          <p><span class="text-primary">N</span>ickName<span class="text-primary">:{{user.NickName}}</span></p>
          </div>
          <div class="col-sm-3">
          <p><span class="text-primary">U</span>serName<span class="text-primary">:{{user.firstName}}</span></p>
          </div>
          <div class="col-sm-3">
          <p><span class="text-primary">L</span>astName<span class="text-primary">:{{user.lastName}}</span></p>
          </div>
      </div>
      <div class="row">

          <div class="col-sm-3">
          <p><span class="text-primary">R</span>aiting<span class="text-primary">:{{user.Raiting}}</span></p>
          </div>
      </div>
    </div>

  </div>



  </div>

<div>
    <div class="text-primary" style="text-align:center;">
        <h3>Your posibility</h3>
      </div>
      <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    <div class="container">
        <div style="margin-top: 10px;">
    <div class="row" >
        <div class="col-sm-4">
    <div class="card text-white bg-primary mb-3 stCard" style="max-width: 20rem;">
        <div class="card-header">Posibility</div>
        <div class="card-body">
          <h4 class="card-title">Your opportunities:</h4>
          <p class="card-text">-Create recipes</p>
          <p class="card-text">-Add recipes for your favourite list</p>
          <p class="card-text">-You can write a review</p>
        </div>
      </div>

      </div>

      <div class="col-sm-4">
        <div class="card text-white bg-primary mb-3 stCard" style="max-width: 20rem;">
          <div class="card-header">Rules</div>
          <div class="card-body">
            <h4 class="card-title">All rules in the cite</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
          <div class="card text-white bg-primary mb-3 stCard" style="max-width: 20rem;">
            <div class="card-header">Rules</div>
            <div class="card-body">
              <h4 class="card-title">All rules in the cite</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

        </div>

    </div>

  </div>
      </div>
      <div class="text-primary" style="text-align:center;">
          <h3>Your Recipes</h3>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      <div class="container">
          <div style="margin-top: 10px;">
      <div class="row" >

      <div *ngFor="let item of myRecipes" class="card text-white bg-primary mb-3 stCard" style="max-width: 20rem; margin: 5px; margin-left: 4%;">

        <div class="card-header" style="width: 300px; height: 300px; ">Recipe</div>
          <div class="card-body " style="width: 300px; height: 300px; ">
            <h4 class="card-title">Topic: {{item.topic}}</h4>
            <p class="card-text descr" >Description: {{item.description}}</p>
            <p class="card-text">Country: {{item.countryName}}</p>
            <p class="card-text">Category: {{item.categoryName}}</p>
          </div>


        </div>

</div>





