  #backgroundUserfield {
    border: 0;
    height: 100px;
    opacity: 0.9;
    background-image: url(https://c.pxhere.com/photos/b7/67/background_tree_wood_boards_texture_wooden_background_old_brown-1370489.jpg!d );
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;

    }
  .stPhotoUser{
    opacity: 0.9;
    border-radius: 50%;
    height: 80px;
    width: 80px;
   margin: 5px;
    /* https://images.wallpaperscraft.ru/image/stvol_derevo_tekstura_119590_1280x720.jpg */
  }
.stText{
  color:white;
}
.stLi{
  position: relative;
  left: 1.6rem;

}
.StUls {
width: 900px;
}
.StLis {

width: 120px;
height: 10px;
margin-top: 5px;
margin-left: 15px;
display: inline-block;
}
.stDiv{
  padding: 0;
}
.storange{
 color:rgb(180, 82, 2);
}
.stCard{
  height: 250px;
}
.divv{
  /* https://i.pinimg.com/originals/33/d4/b5/33d4b5305f347050697fec9388a2e7ea.jpg */
  background-image: url("https://7770003.ru/netcat_files/957_90905.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* color: white; */
  height: 75rem;
  }
