

@media screen and (min-width: 1025px) {
    ul{
        color:#666666;
    }
    li{
        font-size: 1.5rem;
        color:#323C41;
        padding-top: 1em;
    }

  }




  @media screen and (min-width: 641px) {
    ul{
        color:#666666;
    }
    li{
        font-size: 1.3rem;
        color:#323C41;
        padding-top: 1em;
    }


  }



  @media screen and (max-width: 640px ) and (min-width:400px) {
    ul{
        color:#666666;
    }
    li{
        font-size: 1rem;
        color:#323C41;
        padding-top: 1em;
    }


    #hing{
        font-size: 1.3rem;
    }

  }





  @media screen and (max-width: 400px ){
    ul{
        color:#666666;
    }
    li{
        font-size: 0.8rem;
        color:#323C41;
        padding-top: 1em;
    }

    #hing{
        font-size: 1rem;
    }

  }