

/* ui-xl */
@media screen and (min-width: 1441px ) {

    .pt{
    color: #A6ABB3;
    font-size: 1.7rem;
    }
    .ct{
        color: rgb(147, 154, 167);
        font-size: 1.7rem;
    }
    .tt{
        color:#323C41;
        font-size: 1.7rem;
    }
    
    .p-description{
        color: #323C41;
        font-size: 1.7rem;
    }
    
    .dp{
        font-size: 1.7rem; 
        color:black
    }
    
    .cv{
        font-size: 1.7rem; 
        color:black
    }
    
    }



/* ui-lg */
@media screen and (min-width: 1025px ) and (max-width: 1441px) {

.pt{
color: #A6ABB3;
font-size: 1.5rem;
}
.ct{
    color: rgb(147, 154, 167);
    font-size: 1.5rem;
}
.tt{
    color:#323C41;
    font-size: 1.5rem;
}

.p-description{
    color: #323C41;
    font-size: 1.5rem;
}

.dp{
    font-size: 1.5rem; 
    color:black
}

.cv{
    font-size: 1.5rem; 
    color:black
}

}



/* ui-md */
@media screen and (min-width: 641px) and (max-width: 1025px) {

    .pt{
    color: #A6ABB3;
    font-size: 1.3rem;
    }
    .ct{
        color: rgb(147, 154, 167);
        font-size: 1.3rem;
    }
    .tt{
        color:#323C41;
        font-size:  1.3rem;
    }
    
    .p-description{
        color: #323C41;
        font-size: 1.3rem;
    }

    .dp{
        font-size: 1.3rem; 
        color:black
    }

    .cv{
        font-size: 1.3rem; 
        color:black
    }
     
    #htop{
        font-size: 1.6rem;
    }
    
    }



    @media screen and (max-width: 640px)  {

        .pt{
        color: #A6ABB3;
        font-size: 1rem;
        }
        .ct{
            color: rgb(147, 154, 167);
            font-size: 1rem;
        }
        .tt{
            color:#323C41;
            font-size:  1rem;
        }
        
        .p-description{
            color: #323C41;
            font-size: 0.9rem;
        }
    
    
    
        .dp{
            font-size: 1rem; 
            color:black
        }
    
        .cv{
            font-size: 1rem; 
            color:black
        }


        #htop{
            font-size: 1.3rem;
        }
        
        }
    