
<div>

    <div class="ui-g">
     <div class="ui-g-10">

        <h1>Bombay Halwa Or Karachi Halwa</h1>
     
        <app-recipe-galleria class="col-g-10 col-md-10 col-lg-12"></app-recipe-galleria>
       
        
        <h2 style="margin-top:2rem;">Cooking Time:</h2>
        <div class="ui-g" >
            
            <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p class="pt">Preparation Time : 4</p>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3"><p class="ct">Cook Time : 20</p></div>
            <div class="ui-g-12 ui-md-6 ui-lg-3"><p class="tt">Total Time : 24</p></div>
      
        </div>
     </div>
    </div>
   

   
</div>