
<div>

    <div class="ui-g">
     <div class="ui-xl-8 ui-lg-8 ui-md-12 ui-sm-12"  style="border-right-style:solid;border-color: #A6ABB3;border-width: 0.1rem">

        <!--Topic -->
       <h1 style="text-align: center">Chettinad Chicken</h1>

        <!-- galleria -->
        <!-- <app-recipe-galleria ></app-recipe-galleria> -->

       <!-- Description -->
        <div style="margin-top:3rem">
            <h2>Description:</h2>
            <p class="p-description">Chicken Chettinad or Chettinad chicken is a classic Indian recipe, from the cuisine of Chettinad. It consists of chicken marinated in yogurt, turmeric and a paste of red chillies, kalpasi, coconut, poppy seeds, coriander seeds, cumin seeds, fennel seeds, black pepper, ground nuts, onions, garlic and gingelly oil. It is served hot and garnished with coriander leaves, accompanied with boiled rice or paratha.</p>
        </div>
        


        <!-- Cooking Time-->
        <!-- <h2 style="margin-top:2rem">Cooking Time:</h2>
        
        <div class="ui-g" >
            
            <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p class="pt">Preparation Time : 4</p>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3"><p class="ct">Cook Time : 20</p></div>
            <div class="ui-g-12 ui-md-6 ui-lg-3"><p class="tt">Total Time : 24</p></div>
      
        </div> -->


        <!-- Ingradients -->
        <app-recipe-ingradients></app-recipe-ingradients>


        <!-- Cooking process -->
        <app-recipe-directions></app-recipe-directions>

      
        

        <!-- Raiting-->
        <!-- <app-recipe-raiting></app-recipe-raiting> -->


        <!-- Date of publication -->
        <p class = "dp">Date of publication: 21.04.19</p>

        <!--Count views -->
       
        <p class="cv">Count views: 15</p> 
       
        
     </div>

     <div class="ui-xl-4 ui-lg-4 ui-md-12 ui-sm-12">
      <h1>Hello world from chat</h1>
     </div>

    </div>

   

   
</div>