body {
    background-color: #FFFFFF; 
    }
    .p-card{
        background-color: #EEE1B3;
        border-color: #37435B;
    }
    .p{
        color: #37435B;
         font-family: Geneva, Arial, Helvetica, sans-serif;
    }
    