<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>  
    <div class="card" style="width: 20rem;" *ngFor="let ingredient of allIngredients ">
        <h2 class="card-title" style="text-align: center">Card title</h2>
        <div class="card-body">
         
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</body>
</html>
