body {
    background-color: #FFFFFF; 
    }
    .card{
        background-color: #EEE1B3;
        border-color: #37435B;

    }
    .p{
        color: #37435B;
         font-family: Geneva, Arial, Helvetica, sans-serif;
    }
    .h2{
        color: #37435B;
         font-family: Verdana, Geneva, Tahoma, cursive;
    }