<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>  <div class="container">
 <div class="container" *ngFor="let ingredient of allIngredients | async"> 
      <h1>Ingredients</h1>
      <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h2 >{ingredient.Name}</h2>
        </div>
        <div class="card-body">
          <p>{ingredient.Description}</p>
          <p>Kkal (100gr): {ingredient.Kkal_100g}</p>
          <p>Fats (100gr): {ingredient.Fats_100g}</p>
          <p>Proteins (100gr): {ingredient.Proteins_100g}</p>
          <p>Carbonydrates (100gr): {ingredient.Carbohydrates_100g}</p>
          <div>  
              <app-vitamin></app-vitamin>  
            </div>
            <div>  
              <app-microelement></app-microelement>  
            </div>
        </div>
      </div>
    <!-- <p-card subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
      <p-header>
      <h3 >{ingredient.Name}</h3>
      </p-header>
      <div>
      <p>{{ingredient.Description}}</p>
      <p>Kkal (100gr): {{ingredient.Kkal_100g}}</p>
      <p>Fats (100gr): {{ingredient.Fats_100g}</p>
      <p>Proteins (100gr): {{ingredient.Proteins_100g}}</p>
      <p>Carbonydrates (100gr): {{ingredient.Carbohydrates_100g}}</p>
      <div>  
        <app-vitamin></app-vitamin>  
      </div>
      <div>  
        <app-microelement></app-microelement>  
      </div>
      </div>
      <p-footer>
        
      </p-footer>
    </p-card> -->
 
</body>
</html>
