<h1>Hello, world!</h1>
<div class="ui-g">
  <div class="ui-g-4">gfgfg</div>
  <div class="ui-g-4">Col2</div>
  <div class="ui-g-4">Col3</div>
</div>]fdfdgfdg
<p-button label="Click"(Click)  ="showTitle" ></p-button>
<h1 *ngIf="show">{{title}} </h1>
<!--<link rel="stylesheet" type="text/csnpm install @angular/animations --saves" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->